html {
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
  font-family: var(--font-sans);
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

#root {
  min-height: 100vh;
}

button,
input,
select,
textarea {
  font: inherit;
}
